<div id="crearMaterial">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Listado de Sedes</h1>
      <hr>
      <div class="form-group row">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Identificador</th>
            <th scope="col">Provincia</th>
            <th scope="col">Número Telefónico</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha Creación</th>
            <th scope="col">Editar</th>
          </tr>
          </thead>

          <tbody id="body-tabla">

          </tbody>


        </table>
      </div>
    </div>
  </main>
</div>
