<div id="crearMaterial">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Ver Materiales</h1>
      <hr>
        <div class="form-group row">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Identificador</th>
              <th scope="col">Unidad</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Estado</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha</th>
              <th scope="col">Editar</th>
            </tr>
            </thead>

            <tbody id="body-tabla">

            </tbody>


          </table>
        </div>
    </div>
  </main>
</div>
