<div id="crearMaterial">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Listado Centros de Acopio</h1>
      <hr>
      <div class="form-group row">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Estado</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Nombre Sede</th>
            <th scope="col">Código Sede</th>
            <th scope="col">Fecha</th>
            <th scope="col">Editar</th>
          </tr>
          </thead>

          <tbody id="body-tabla">

          </tbody>


        </table>
      </div>
    </div>
  </main>
</div>
